<p id="notice"><%= notice %></p>

<h1> Category: <%= @category.name %> </h1>

<h3> New Product/Movie (movies are products too)</h3>
<%= render 'product_movie_form' %>

<h2> List of Products/Movies </h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to "Destroy", category_product_path(@category, product), method: :delete, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_category_path(@category), class:'btn btn-warning' %> |
<%= link_to 'Back', categories_path, class:'btn btn-info' %>
