<p id="notice"><%= notice %></p>

<h1> Categoría: <%= @category.name %> </h1>

<%= form_with(model: [@category, @product], local: true) do |form| %>
    <%= form.hidden_field :category_id, value: @category.id %>
  
  <div class="field">
    <%= form.label(:name,"Movie's name") %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label(:price, "Movie's price") %>
    <%= form.text_field :price %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
